<div class="cbp-loadMore-block1">

    <div class="category3 category2 cbp-item">
        <a href="explore_detail.html">
            <div class="project_item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap nz-thumbnail">
                        <img src="images/1.jpg" alt="">
                        <div class="ninzio-overlay"></div>
                    </div>
                </div>
                <div class="project-details">
                    <div class="project-title"> Enterprise</div>
                    <div class="projects-category"> Category</div>
                    <div class="stripe-bottom"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="category3 category4 cbp-item">
        <a href="explore_detail.html">
            <div class="project_item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap nz-thumbnail">
                        <img src="images/1.jpg" alt="">
                        <div class="ninzio-overlay"></div>
                    </div>
                </div>
                <div class="project-details">
                    <div class="project-title"> Enterprise</div>
                    <div class="projects-category"> Category</div>
                    <div class="stripe-bottom"></div>
                </div>

            </div>
        </a>
    </div>
    <div class=" category1 category3 category4 cbp-item">
        <a href="explore_detail.html">
            <div class="project_item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap nz-thumbnail">
                        <img src="images/1.jpg" alt="">
                        <div class="ninzio-overlay"></div>
                    </div>
                </div>
                <div class="project-details">
                    <div class="project-title"> Enterprise</div>
                    <div class="projects-category"> Category</div>
                    <div class="stripe-bottom"></div>
                </div>

            </div>
        </a>
    </div>
</div>




<div class="cbp-loadMore-block2">

    <div class="category3 category2 cbp-item">
        <a href="explore_detail.html">
            <div class="project_item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap nz-thumbnail">
                        <img src="images/1.jpg" alt="">
                        <div class="ninzio-overlay"></div>
                    </div>
                </div>
                <div class="project-details">
                    <div class="project-title"> Enterprise</div>
                    <div class="projects-category"> Category</div>
                    <div class="stripe-bottom"></div>
                </div>

            </div>
        </a>
    </div>
    <div class="category1 category4 cbp-item">
        <a href="explore_detail.html">
            <div class="project_item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap nz-thumbnail">
                        <img src="images/1.jpg" alt="">
                        <div class="ninzio-overlay"></div>
                    </div>
                </div>
                <div class="project-details">
                    <div class="project-title"> Enterprise</div>
                    <div class="projects-category"> Category</div>
                    <div class="stripe-bottom"></div>
                </div>

            </div>
        </a>
    </div>
    
    <div class="category3 category4 cbp-item">
        <a href="explore_detail.html">
            <div class="project_item">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap nz-thumbnail">
                        <img src="images/1.jpg" alt="">
                        <div class="ninzio-overlay"></div>
                    </div>
                </div>
                <div class="project-details">
                    <div class="project-title"> Enterprise</div>
                    <div class="projects-category"> Category</div>
                    <div class="stripe-bottom"></div>
                </div>

            </div>
        </a>
    </div>

</div>
